{% extends "base.html" %}

{% block content %}

    <h1>Add a Blog Entry</h1>
    <form action="/newpost" method='POST'>
        <div>  
            <label>Title for your new blog:</label>
                <input type='text' name='entry_title' value="{{entry_title}}"/>
                <span class='error'>{{title_error}}</span>
        </div>

        <div>
            <label>Your new blog:</label>
                <textarea type='text' name='blog_entry' rows='10' cols='30'>{{blog_entry}}</textarea>
                <span class='error'>{{entry_error}}</span>            
        </div>

        <div class='button'>
            <input  type='submit' value="Add Entry" />
        </div>
    </form>

    
{% endblock %}