{% extends "base.html" %}

{% block content %}

<h2 class='mainTitle'>All Entries</h2>

    {% for entry in blog %}

        <h2>
            <a href='./blog?id={{ entry.id }}'>{{ entry.title }}</a>
        </h2>
        
        <p class="entry">{{ entry.body }}</p>
        <br>
        <p class='author'>Written by: <a href="/blog?user={{entry.owner_id }}">{{entry.owner.username}}</a></p>
        <hr/>
    
    {% endfor %}

    <!--Pagination-->
    {% if prev_url %}
        <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
        <a id="next_page" href="{{ next_url }}">Older posts</a>
    {% endif %}


{% endblock %}